html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
}

.header {
  margin-bottom: 90px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
}

.menu {
  margin-left: 130px;
  margin-right: 185px;
}

.menu__item {
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.user-nav {
  display: flex;
  gap: 0 20px;
}

.top {
  margin-bottom: 100px;
}

.top-slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.top-slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  padding: 0 10px;
}

.top-slider__content {
  flex-basis: 183px;
  margin-top: -60px;
}

.top-slider__title {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
}

.top-slider__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.top-slider__text {
  margin-bottom: 20px;
}

.top-slider__btn {
  margin-left: auto;
}

.button {
  display: inline-block;
  color: #7449bb;
  text-transform: uppercase;
  text-align: center;
  padding: 21px 55px;
  border: 1px solid #7449bb;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button:hover {
  color: #fff;
  background-color: #7449bb;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.container-arrow {
  position: relative;
  max-width: 1200px;
}

.top .swiper {
  padding-bottom: 50px;
}

.swiper-button-next {
  left: 75px;
  right: auto;
}

.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about__inner {
  padding-left: 200px;
}

.about__title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 185px;
  margin-bottom: 20px;
}

.about__textbox {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__text {
  flex-basis: 387px;
  line-height: 1.2;
}

.about__text p {
  margin-bottom: 15px;
}

.about__text--bold {
  font-weight: 700;
}

.about__item-title {
  margin-bottom: 20px;
}

.about__slider {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__arrow {
  margin-left: -198px;
  margin-top: -6px;
}

.container-arrow .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.accordion {
  margin-bottom: 223px;
}

.accordion__inner {
  padding-left: 200px;
}

.accordion__item {
  border-bottom: 1px solid #7449bb;
  padding: 0 101px 0 0;
  position: relative;
}

.accordion__item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url(../images/arrow-down.svg);
  right: 85px;
  top: 50px;
}

.accordion__item:last-child::after {
  content: '';
  position: absolute;
  background-image: url(../images/accordion-img.jpg);
  width: 65px;
  height: 120px;
  bottom: -73px;
  left: 268px;
}

.accordion__trigger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 50px;
}

.accordion__trigger-title {
  flex-basis: 300px;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 42px;
}

.accordion__trigger-text {
  flex-basis: 387px;
  margin-right: 104px;
  padding-bottom: 20px;
}

.accordion__content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.accordion__content p {
  margin-bottom: 10px;
}

.accordion__item--active .accordion__content {
  display: block;
}

.products {
  margin-bottom: 150px;
}

.products__inner {
  position: relative;
  min-height: 647px;
}

.products__title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
}

.products__items {
  position: absolute;
  display: flex;
  gap: 0 20px;
  top: 0;
  left: 200px;
}

.products__item {
  text-align: center;
}

.products__item-step {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 20px;
}

.products__item-img {
  margin-bottom: 20px;
}

.products__item-name {
  margin-bottom: 10px;
}

.products__item-name span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.products__item-price {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}

.video {
  margin-bottom: 150px;
}

.video__box {
  margin-left: auto;
  max-width: 997px;
  min-height: 600px;
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #c4a9cd;
  padding: 66px 0 100px;
}

.footer__top {
  margin-bottom: 70px;
  display: flex;
  gap: 0 70px;
  justify-content: space-between;
}

.footer__logo {
  margin-right: 10px;
}

.footer__items {
  flex-basis: 387px;
}

.footer__item + .footer__item {
  margin-top: 70px;
}

.footer__item-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__item-list li {
  padding-top: 10px;
}

.footer__item-form {
  position: relative;
}

.footer__item-input {
  width: 100%;
  display: block;
  padding: 10px 60px 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #c4a9cd;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
  outline: none;
}

.footer__item-input::placeholder {
  font-size: 12px;
  color: #000;
  opacity: 0.4;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.footer__item-btn {
  position: absolute;
  right: 0;
  top: 10px;
}

.footer__socials-list {
  margin-left: 10px;
  align-self: flex-end;
  margin-right: 105px;
}

.footer__socials-item + .footer__socials-item {
  margin-top: 20px;
}

.footer__socials-item svg path {
  transition: all 0.3s;
}

.footer__socials-item svg:hover path {
  fill: #7449bb;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}

.footer__nav-list {
  display: flex;
  gap: 0 20px;
}

@media (max-width: 1040px) {
  .about__textbox {
    display: block;
  }
}

@media (max-width: 992px) {
  .header__title {
    display: none;
  }

  .menu {
    margin-left: 0;
    margin-right: 0;
  }

  .about__textbox {
    margin-bottom: 50px;
  }
}

@media (max-width: 850px) {
  .top-slider__inner {
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 40px;
  }

  .top-slider__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .top-slider__btn {
    margin: 50px auto 20px;
  }

  .button {
    color: #fff;
    background-color: #7449bb;
  }

  .button:hover {
    color: #fff;
    background-color: #8f6bc9;
  }
}

@media (max-width: 630px) {
  .about__slider {
    padding-left: 0;
    margin-left: 0;
  }

  .about__inner {
    padding-left: 0;
  }

  .about__arrow {
    display: none;
  }
}

@media (max-width: 475px) {
  .top-slider__img {
    display: none;
  }

  .top-slider__content {
    flex-basis: 100%;
    order: -1;
    text-align: center;
  }

  .top-slider__img--mini {
    width: 70%;
    margin: 0 auto;
    object-fit: cover;
  }

  .top-slider__btn {
    margin: 10px auto 20px;
  }

  .about__slider {
    width: 1650px;
  }
}

@media (max-width: 420px) {
  .header__inner {
    flex-wrap: wrap;
    align-items: center;
  }

  .logo,
  .user-nav {
    order: -1;
  }

  .menu {
    width: 100%;
    padding-top: 30px;
    text-align: right;
  }

  .about__item img {
    width: 365px;
  }

  .about__slider {
    width: 1500px;
  }
}

@media (max-width: 375px) {
  .about__item img {
    width: 275px;
  }

  .about__slider {
    width: 1200px;
  }
}
